select option {
    color:grey;
     
}

.civMenu {

    border-radius: 0px !important;
    margin: 10px;
    color: white;
    width: 275px;
    box-shadow: 
    0 0 1px 2px #5f5c42,
    0 0px 10px 1px rgb(8, 8, 8);

}

.civ-title {
    color: black;
    text-shadow: 1px 1px 2px gold;
    text-shadow: 1px 2px 1px white;
    font-weight: 1000;
    text-align: center;
    font-size: 35px;
    
}
.info {
    /* this makes civ info panel float when scrolling donw */
    /* float: left;
    position: fixed; */
    width: 275px;
    height: 400px;
    margin: 10px;
    margin-top: 5px;
    padding-left: 10px;
    transition:all .25s ease;
    opacity:1;
    box-shadow: 
    0 0 1px 2px #5f5c42,
    0 0px 10px 1px rgb(8, 8, 8);
}

.info-text {
    font-family: 'Libre Baskerville', cursive;   
    font-size: 11px;
    color: gold;
    
}


.civPanel {
    float: left;

}




.infoline {
    color: white;
    
    
}

.btn-dark {
    background-color: rgb(66, 66, 66) !important;
}

.btn-dark:hover {
    background-color: rgb(24, 24, 24) !important;
}


